@media only screen and (max-width: 768px) {
    /* Universal Styles */
    .wrapper {
        width: 88%;
    }
    /* Holidays or Special events */
    .specialBox {
        flex-direction: column;
    }
        .specialTxt h3 {
            font-size: 2rem;
            padding-bottom: .75rem;
        }
        .specialTxt p {
            width: 100%;
            margin-bottom: 2rem;
        }
    /* Header */
    header {
        height: 75vh;
        background-attachment: inherit;
        background-position: center;
    }
    .headTxt {
        width: 65%;
        top: 45%;
        left: 17%;
    }
    /* Introduction */
    #introDesktop #lessSugar,
    #introDesktop #themeCakes,
    #introDesktop #sweetTable {
        height: 65vh;
    }
    #introDesktop #lessSugar {
        grid-template: 32.5vh 32.5vh / 1fr 1fr;
    }
    #secOneTxt {
        top: 30%;
        left: 31%;
        width: 38%;
        height: 40%;
    }
    #images-b div {
        height: 45%;
        width: 28%;
    }
    #secTwoTxt {
        top: 15%;
        right: 7%;
        width: 35%;
        height: 45%;
    }
    #secThreeTxt {
        top: 22.5%;
        left: 0;
        height: 55%;
        width: 35%;
    }
    /* Cake & Fillings */
    #lists #flavorFill .secTitle {
        width: 30%;
        height: 30%;
        right: 35%;
        top: 35%;
    }
    /* Contact */
    #contact p {
        width: 100%;
    }
    .cntctForm {
        width: 100%;
    }
    /* Footer */
    .ftLogo {
        width: 30%;
    }

    /*** These are the styles for the Gallery page ***/
    .gllryGrid {
        grid-template-columns: repeat(3, 1fr);
    }
        .imgs {
            height: 225px;
        }
}


@media only screen and (max-width: 736px) {
    /* Header */
    header {
        height: 90vh;
    }
    /* Introduction */
    #introDesktop #lessSugar,
    #introDesktop #themeCakes,
    #introDesktop #sweetTable {
        height: 600px;
    }
    #introDesktop #lessSugar {
        display: grid;
        grid-template: 300px 300px / 1fr 1fr;
    }
}