@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 767px) {}
@media only screen and (max-width: 640px) {
    /* Universal Styles */
    html {
        font-size: 15px;
        line-height: 1.3
    }
    .wrapper {
        width: 95%;
    }
    .mobilePicWrap {
        width: 95%;
        margin: 0 auto;
    }


    /* Header */
    #desktop-header {
        display: none;
    }
    header {
        background-attachment: inherit;
        background-position: bottom, right;
    }
   #mobile-header {
       display: block;
       padding-top: 1rem;
       display: flex;
       flex-direction: column;
       align-items: center;
   }
    .logo {
        width: 90%;
        margin-bottom: 2rem;
    }
    .open {
        color: #F7ACB8;
        display: block;
        cursor: pointer;
        text-align: center;
        font-size: 3.5rem;
    }
    #nav {
        width: 0;
        z-index: 5;
        height: 55vh;
        display: block;
        position: fixed;
        transition: 0.5s;
        overflow-x: hidden;
        background-color: rgba(255, 255, 255, 0.95);
    }
    .mobile-nav ul {
        list-style: none;
        text-align: center;
    }
    .mobile-nav ul li a {
        text-decoration: none;
        color: #F7ACB8;
    }
    .mobile-nav ul li {
        padding-bottom: 0.75rem;
        font-weight: 600;
        font-size: 1.5rem;
    }
    .mobile-nav ul li:first-child {
        font-size: 3.75rem;
    }
    .mobile-HeaderTxt {
        width: 85%;
        margin-top: 5rem;
        text-align: center;
    }
    .mobile-HeaderTxt h1 {
        font-size: 2.75rem;
    }
    .mobile-HeaderTxt p {
        font-size: 1.5rem;
    }

    /* Introduction */
    #lessSugar {
        background-color: #814d3b;
        padding-top: 1rem;
    }
    .secOneImg {
        height: 40vh;
    }
    .secOneTxt {
        background-color: #814d3b;
        height: 16vh;
    }
    #themeCakes {
        background-color: #F7ACB8;
        padding-top: 1rem;
    }
    .secTwoImg {
        height: 80vh;
    }
    .secTwoTxt {
        height: 16vh;
        background-color: #F7ACB8;
        color: #fff; 
    }
    .secTwoImages {
        display: none;
    }
    #sweetTable {
        background-color: #814d3b;
        padding-top: 1rem;
    }
    .secThreeImg {
        height: 80vh;
    }
    .secThreeTxt {
        height: 16vh;
        background-color: #814d3b;
        color: #eedfd1;
    }


    /* About */
    .aboutTxt {
        width: 80%;
        margin: 1.5rem auto;
        color: #814d3b;
    }
    .aboutTxt h2 {
        font-size: 2.75rem;
        margin-bottom: 1rem;
    }
    .baniImg {
        height: 50vh;
        margin: 0 auto;
    }
}
