@media only screen and (max-width: 991px) {
    /* Universal Styles */

    
    /* Header */


    /* Introduction */


    /* About */


    /* Cake & Fillings */


    /* Contact */


    /* Footer */





    /*** These are the styles for the Gallery page ***/
    .imgs {
        height: 140px;
    }
}



@media only screen and (max-width: 760px) {
    /* Universal Styles */


    /* Header */
    header {
        background-attachment: inherit;
        height: 65vh;
    }


    /* Introduction */


    /* About */
    #about {
        height: 100vh;
        width: 100%;
        display: flex;
    }
    #about .baniImg,
    #about .aboutTxt {
        width: 50%;
        height: 100vh;
    }


    /* Cake & Fillings */


    /* Contact */


    /* Footer */
    .ftLogo {
        width: 40%;
    }





    /*** These are the styles for the Gallery page ***/
    .gllryGrid {
        grid-template-columns: repeat(3, 1fr);
    }
        .imgs {
            height: 225px;
        }
}



@media only screen and (max-width: 640px) {
    /* Universal Styles */
    html {
        font-size: 14px;
        line-height: 1.3
    }
    .wrapper {
        width: 90%;
    }
    .mobilePicWrap {
        width: 90%;
        margin: 0 auto;
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 1.25rem;
    }
    h3 {
        font-size: 1.35rem;
    }



    /* Header */
    #desktop-header {
        display: none;
    }
    .main-head {
        background-attachment: inherit;
        background-position: bottom, right;
    }
   #mobile-header {
       display: block;
       padding-top: 2rem;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
    .logo {
        width: 65%;
    }
    .empty {
        width: auto;
    }
    .open {
        color: #F7ACB8;
        display: block;
        cursor: pointer;
        text-align: center;
        font-size: 2.25rem;
    }
    #mobileNav {
        width: 0;
        z-index: 5;
        height: 100vh;
        display: block;
        top: 0;
        right: 0;
        position: fixed;
        transition: 0.5s;
        overflow-x: hidden;
        background-color: rgba(66, 42, 23, 0.9);
    }
    .mobile-nav ul {
        height: 100%;
        list-style: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .mobile-nav ul li {
        padding-bottom: 1.5rem;
        font-weight: 600;
        font-size: 1.5rem;
    }
    .mobile-nav ul li:first-child {
        font-size: 3.75rem;
    }
    .mobile-nav ul li a {
        text-decoration: none;
        color: #F7ACB8;
    }
    .mobile-HeaderTxt {
        width: 85%;
        top: 35%;
        left: 7.5%;
        text-align: center;
    }
    .mobile-HeaderTxt h1 {
        font-size: 2.75rem;
    }
    .mobile-HeaderTxt p {
        font-size: 1.35rem;
    }



    /* Introduction */
    #introDesktop {
        display: none;
    }
    #intro {
    color: #814d3b;
    margin-top: 1.5rem;
}
    #intro h2 {
        margin-bottom: 1.25rem;
    }
    #intro #lessSugar,
    #intro #themeCakes,
    #intro #sweetTable {
        height: auto;
        width: 100%;
    }
    .secOneImg {
        height: 38vh;
    }
    .secOneTxt,
    .secTwoTxt,
    .secThreeTxt {
        margin: 1.9rem auto;
    }
    .secTwoImg {
        margin-top: 1.25rem;
    }



    /* About */
    #about {
        margin-bottom: 1.5rem;
    }
    .baniImg {
        height: 52vh;
    }
    .baniImg img {
        object-position: top;
    }
    .aboutTxt {
        width: 90%;
        margin: 1.5rem auto;
    }



    /* Cake & Fillings */
    #flavorFill {
        display: none;
    }
    #cakeFill {
        background-color: #814d3b;
        padding: 1.5rem 0;
    }
    #flavors,
    #fillings {
        margin-bottom: 1.1rem;
        cursor: pointer;
    }
    .ffStyles {
        background-color: #F7ACB8;
        padding: 1em 0;
        border-radius: 7px;
        text-align: center;
        color: #fff;
        transition: 0.5s;
    }
    .ffStyles:active {
        background-color: #e1c5ac;
        color: #814d3b;
        border-radius: 30px;
        transition: 0.3s;
    }
    .listStyles li {
        list-style: none;
        text-align: center;
        margin-bottom: 0.5rem;
        font-size: 1.1rem;
    }
    .listStyles li:last-child {
        margin-bottom: 0;
        margin-top: 1.25rem;
    }
    #listFlv {
        margin-bottom: 1rem;
    }
    #listFlv, #listFill {
        display: none;
    }
    #listFlv:active, #listFill:active {
        transition: 0.3s ease-in;
    }



    /* Contact */
    #contact h2 {
        margin-bottom: 0;
    }
    form {
        grid-gap: 1rem;
    }
    .cntctInfo {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }


    /* Footer */
    .ftLinks {
        display: flex;
        flex-direction: column;
        align-items: center;
    }





    /*** These are the styles for the Gallery page ***/
    .gallery-head {
        background-attachment: inherit;
        background-position: center, top;
    }
    .gllryGrid {
        grid-template-columns: repeat(2, 1fr);
    }
        .imgs {
            height: 200px;
        }
    #socialM .icons li {
        font-size: 2.5rem;
    }
}
