/* 
brwn: #814D3B;
lt-brwn: #E1C5AC;
pink: #F7ACB8;
lt-gray: #CAC8C7;
bckgrd: #EEDFD1; 
*/


/* Universal Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    color: #E1C5AC;
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    overflow-y: scroll;
    scroll-behavior: smooth;
    line-height: 1.2;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}
.pics {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.display {
    width: 100%;
    height: 100vh;
}

/* Header */
#mobile-header {
    display: none;
}
header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(../images/hero_img3.jpeg);
}