/* 
brwn: #814D3B;
lt-brwn: #E1C5AC;
pink: #F7ACB8;
lt-gray: #CAC8C7;
bckgrd: #EEDFD1; 
*/


/* Universal Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    color: #E1C5AC;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
    scroll-behavior: smooth;
    line-height: 1.2;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
}
.pics {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.introTitle {
    font-size: 1.65rem;
    margin-bottom: 1rem;
}
.introTxtStyle {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0 1rem;
    text-align: center;
}
h2 {
    font-size: 2.25rem;
}
h3 {
    font-weight: 600;
}
h4 {
    font-weight: 600;
}
.boldTxt {
    font-weight: 600;
    letter-spacing: 0.8px;
}


/* Header */
#mobile-header {
    display: none;
}
header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.main-head {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(../images/hero_img3.jpeg);
}
#desktop-header {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 22%;
}
.nav ul {
    list-style: none;
}
.nav ul li {
    display: inline-block;
}
.nav ul li a {
    text-decoration: none;
    color: #F7ACB8;
    margin-left: 0.75rem;
    transition: all 0.9s;
}
.nav ul li a:hover {
    padding: 0 5px;
    color: #fff;
    background-color: transparent;
    transition: all 0.3s ease-in;
}
.headTxt {
    text-align: center;
    width: 50%;
    position: absolute;
    top: 45%;
    left: 25%;
}
.headTxt h1 {
    font-size: 3rem;
    font-weight: 800;
}
.headTxt p {
    font-size: 1.25rem;
}


/* Introduction */
#intro {    /* This is for mobile */
    display: none;
}
 #introDesktop {
    color: #814d3b;
    margin-top: 1.5rem;
}
#introDesktop #lessSugar,
#introDesktop #themeCakes,
#introDesktop #sweetTable {
    height: 1200px;
    position: relative;
}
#lessSugar #imgOne-a,
#lessSugar #imgTwo-a {
    position: absolute;
    width: 50%;
}
    #imgOne-a {
        top: 0;
    }
    #imgTwo-a {
        top: 50%;
        right: 0;
        height: 50%;
    }
    #secOneTxt {
        top: 32.5%;
        left: 36.5%;
        width: 27%;
        height: 35%;
        position: absolute;
        background-color: #E1C5AC;
        color: #814d3b;
        z-index: 2;
    }
#themeCakes #imgOne-b,
#themeCakes #images-b {
    position: absolute;
}
    #imgOne-b {
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
    }
    #images-b {
        top: 60%;
        left: 51%;
        height: 40%;
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #images-b div {
        height: 45%;
        width: 28%;
        opacity: 1;
        transition: 0.9s;
    }
    #images-b div:hover {
        opacity: 0.6;
        transition: all 0.3s ease-in;
    }
    #secTwoTxt {
        top: 15%;
        right: 10%;
        width: 28%;
        height: 40%;
        position: absolute;
        background-color: #F7ACB8;
        color: #fff;
    }
#sweetTable #imgOne-c,
#sweetTable #secThreeTxt {
    position: absolute;
}
    #imgOne-c {
        top: 7.5%;
        left: 15%;
        width: 70%;
        height: 85%;
    }
    #secThreeTxt {
        top: 32.5%;
        left: 0;
        height: 35%;
        width: 25%;
        background-color: #814d3b;
        color: #E1C5AC;
    }


/* About */
#about {
    margin: 0 auto;
    height: auto;
    width: 80%;
    display: flex;
}
#about .baniImg,
#about .aboutTxt {
    width: 50%;
}
#about .baniImg {
    height: auto;
}
#about .aboutTxt {
    margin: 1.5rem 0;
}
#about .aboutTxt {
    color: #814d3b;
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
#about .aboutTxt h2 {
    margin-bottom: 1.25rem;
}
#about .aboutTxt p {
    line-height: 1.5;
}


/* Cake & Fillings */
#lists #cakeFill {
    display: none;
}
#lists #flavorFill {
    width: 100%;
    height: auto;
    background-color: #F7ACB8;
    color: #fff;
}
.boundary {
    position: relative;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#lists #flavorFill .secTitle {
    position: absolute;
    display: flex;
    background-color: #814d3b;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 35%;
    right: 40%;
    top: 32.5%;
}
    .secTitle h2 {
        padding: 0 1rem;
        text-align: center;
    }
#lists #flavorFill .warning {
    position: absolute;
    top: 85%;
    right: 32.5%;
    width: 35%;
    text-align: center;
    color: #814d3b;
}
#listBox,
#listBox2 {
    width: 50%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    justify-content: center;
}
#listBox {
    justify-self: flex-start;
}
#listBox2 {
    padding: 1.75rem 0;
    justify-self: flex-end;
}
#flavorFill .listTitle {
    margin-bottom: 1rem;
}
#flavorFill .listStyles {
    list-style: none;
    text-align: center;
}
#flavorFill .listStyles li {
    margin-bottom: 0.35rem;
}
#flavorFill .listStyles li:last-child {
    margin-bottom: 0;
}


/* Contact */
#contact {
    padding: 1.5rem 0;
    color: #814d3b;
}
#contact h2 {
    margin-bottom: 1rem;
}
#contact p {
    line-height: 1.5;
    margin-bottom: 2rem;
}
.cntctForm {
    width: 65%;
    margin: 0 auto 2rem auto;
}
form > * {
    border: 0;
}
form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.25rem;
}
form input {
    height: 2.25rem;
    border-radius: 30px;
}
form input,
form textarea {
    background-color: #e1c5ac;
    color: #fff;
    padding-left: 1rem;
    font-size: 0.9rem;
    transition: all 0.9s;
}
form input:focus,
form textarea:focus,
form input:hover,
form textarea:hover {
    background-color: #814d3b;
    transition: all 0.3s ease-in;
}
form input::placeholder,
form textarea::placeholder {
    color: #814d3b;
    font-size: 0.8rem;
    letter-spacing: 1px;
    transition: all 0.9s;
}
form input:hover::placeholder,
form textarea:hover::placeholder {
    color: #fff;
    transition: all 0.3s ease-in;
}
form textarea {
    height: 10rem;
    border-radius: 10px;
    padding-top: 8px;
}
form button {
    background-color: #F7ACB8;
    color: #fff;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    width: 70%;
    border-radius: 30px;
    margin: 0 auto;
    transition: all 0.9s;
}
form button:hover {
    background-color: #814d3b;
    border-radius: 0;
    letter-spacing: 8px;
    transition: all 0.3s ease-in;
}
.cntctInfo {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cntctInfo .storehrs,
.cntctInfo .webPhone {
    margin-bottom: 1rem;
}
.cntctInfo li {
    list-style: none;
    padding-bottom: 0.25rem;
}
.webPhone li:first-child {
    padding-bottom: 0.5rem;
}
.cntctInfo li a {
    text-decoration: none;
    color: #814d3b;
}
.socialM h4 {
    margin-bottom: 0.75rem;
}
.socialM .icons {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
.socialM .icons li {
    padding: 0 1.5rem;
    font-size: 2.5rem;
}
.socialM .icons li a {
    color: #814d3b;
    transition: all 0.7s;
}
.socialM .icons li a:hover {
    color: #F7ACB8;
    transition: all 0.3s ease-in;
}
.award {
    display: none;
}


/* Footer */
footer {
    background-color: #e1c5ac;
    color: #814d3b;
}
.ftContent {
    padding-top: 1rem;
}
.ftLogo {
    width: 20%;
    margin: 0 auto 1rem auto;
}
.ftLinks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.ftLinks li {
    list-style: none;
    padding-bottom: 0.75rem;
}
.ftLinks li:last-child {
    padding-bottom: 0;
}
.ftLinks li a {
    text-decoration: none;
    color: #814d3b;
    font-weight: 600;
    transition: all 0.9s;
}
.ftLinks li a:hover {
    color: #fff;
    transition: 0.3s ease-in;
}
.copyRight {
    text-align: center;
    padding-bottom: 0.35rem;
}





/*** These are the styles for the Gallery page ***/
.gallery-head {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(../images/gallery_banner.jpg);
}
.gllryGrid {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
}
    .imgs {
        height: 200px;
    }
 #socialM {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.25rem;
}
#socialM h4 {
    color: #814d3b;
    margin-bottom: 0.75rem;
}
#socialM .icons li {
    list-style: none;
    padding: 0 1rem;
    font-size: 3rem;
}
 #socialM .icons a {
    text-decoration: none;
    color: #814d3b;
}
#socialM .icons {
    display: flex;
    align-content: center;
}