/* 
brwn: #814D3B;
lt-brwn: #E1C5AC;
pink: #F7ACB8;
lt-gray: #CAC8C7;
bckgrd: #EEDFD1; 
*/

/* Universal Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    color: #E1C5AC;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
    scroll-behavior: smooth;
    line-height: 1.2;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}
.smaller-wrapper{
    width: 70%;
    margin: 0 auto;
}
.pics {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.introTitle {
    font-size: 1.65rem;
    margin-bottom: 1rem;
}
.introTxtStyle {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0 1rem;
    text-align: center;
}
h2 {
    font-size: 2.25rem;
}
h3 {
    font-weight: 600;
}
h4 {
    font-weight: 600;
}
.boldTxt {
    font-weight: 600;
    letter-spacing: 0.8px;
}
/* Holidays or Special events */
#special {
    /* display: block; */
    background-color: #814d3b;
}
.specialTxt {
    color: #fff;
    padding: 3rem 0;
}
.specialTxt h3 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
}
.specialTxt .stepsTitle{
    margin-bottom: 10px;
}
.specialTxt p {
    line-height: 1.35;
}
.specialTxt ul{
    margin-top: 10px;
}
.specialTxt ul li{
    list-style: none;
    margin-bottom: 5px;
}
.specialTxt ul li:last-child{
    margin-bottom: 0;
}

/* Header */
#mobile-header {
    display: none;
}
header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.main-head {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(../images/hero_img3.jpeg);
}
#desktop-header {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 18%;
}
.nav ul {
    list-style: none;
}
.nav ul li {
    display: inline-block;
}
.nav ul li a {
    text-decoration: none;
    color: #F7ACB8;
    margin-left: 1.25rem;
    border: 2px solid transparent;
    padding: 3px 13px;
    border-radius: 7px;
    transition: all 0.9s;
}
.nav ul li a:hover,
.nav ul li a:focus {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
    transition: all 0.3s ease-in;
}
.headTxt {
    text-align: center;
    width: 50%;
    position: absolute;
    top: 45%;
    left: 25%;
}
.headTxt h1 {
    font-size: 3rem;
    font-weight: 800;
}
.headTxt p {
    font-size: 1.25rem;
}
/* Introduction */
#intro {    /* This is for mobile */
    display: none;
}
#introDesktop {
    color: #814d3b;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.introSections-styles{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
}
    .col{
        width: 50%;
    }
    .lessSugar-leftCol img,
    .lessSugar-rightCol img,
    .sweet-leftCol img,
    .sweet-rightCol img{
        height: 50%;
    }
    .lessSugar-rightCol,
    .sweet-leftCol{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .secOneTxt,
    .secThreeTxt{
        top: 32.5%;
        left: 37.5%;
        width: 25%;
        height: 35%;
        position: absolute;
    }
    .secOneTxt{
        background-color: #E1C5AC;
        color: #814d3b;
    }

    .theme-rightCol{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
    }
        .secTwoTxt{
        width: 60%;
        height: 35%;
        background-color: #F7ACB8;
        color: #fff;
        margin-bottom: 3rem;
    }
    .three-images {
        width: 85%;
        display: flex;
        justify-content: space-between;
    }
    .three-images div {
        height: 60%;
        width: 30%;
        opacity: 1;
        transition: 0.9s;
    }
    .three-images div:hover {
        opacity: 0.6;
        transition: all 0.3s ease-in;
    }

    .secThreeTxt {
        background-color: #814d3b;
        color: #FFF;
    }
    .secThreeTxt #swtBtn,
    .secThreeTxt #swtListBtn {
        margin: 1rem auto 0 auto;
        border-radius: 30px;
        background-color: #F7ACB8;
        color: #fff;
        font-weight: 600;
        border: 0;
        transition: all 0.5s;
    }
    .secThreeTxt #swtBtn{       /* This is for desktop  */
        width: 80%;
        padding: 0.5rem 2.5rem;
        font-size: 0.8rem;
    }
    .secThreeTxt #swtBtn:hover{
        cursor: pointer;
        color: #814d3b;
        background-color: #E1C5AC;
        transition: all 0.2s ease-in;
    }
    .secThreeTxt #swtBtn:active{
        transform: scale(0.95);
    }
    .secThreeTxt #swtListBtn {      /* This is for mobile  */
        width: 100%;
        font-size: 1.5rem;
        padding: 1rem 0;
    }
    #secThreeTxt #swtBtn:hover,
    .secThreeTxt #swtListBtn:hover {
        background-color: #E1C5AC;
        color: #814d3b;
        cursor: pointer;
        transition: all 0.3s ease-in;
    }
    #modal {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 5;
        visibility: hidden;
        transition: all 0.5s;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.92);
    }
    #modal #modal-content {
        top: 110%;
        left: 0;
        width: 55%;
        padding: 2rem 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        transition: all 0.3s;
    }
    #modal #modal-content #closeBtn {
        font-size: 3rem;
        margin-bottom: 2rem;
        color: #F7ACB8;
        transition: all 0.5s;
    }
    #modal #modal-content #closeBtn:hover {
        color: #E1C5AC;
        cursor: pointer;
        transition: 0.3s ease-in;
    }
    #modal #modal-content li {
        margin-bottom: 0.5rem;
        list-style: none;
        color: #fff;
        display: inline-block;
        font-size: 1.2rem;
    }
    #modal #modal-content li h4 {
        margin-bottom: 1.5rem;
        font-size: 1.75rem;
    }

/* How It Works */
#howItWorks {
    /* display: block; */
    background-color: #814d3b;
}
.steps {
    color: #fff;
    padding: 3rem 0;
}
.steps h2 {
    margin-bottom: 1.25rem;
}
.steps .stepTitle{
    margin-bottom: 10px;
}
.steps p {
    line-height: 1.35;
}

/* Cake & Fillings */
#lists #cakeFill,
#flavors,
#fillings{
    display: none;
}
#lists #flavorFill {
    width: 100%;
    height: auto;
    background-color: #F7ACB8;
    color: #fff;
}
.list-container {
    position: relative;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}
.list{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list .listTitle{
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.list ul li{
    list-style: none;
    margin-bottom: 5px;
}
#flavorFill .secTitle {
    position: absolute;
    display: flex;
    background-color: #814d3b;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 35%;
    right: 40%;
    top: 32.5%;
}
    .secTitle h2 {
        padding: 0 1rem;
        text-align: center;
    }
#lists #flavorFill .warning {
    position: absolute;
    top: 85%;
    right: 32.5%;
    width: 35%;
    text-align: center;
    color: #814d3b;
}
/* Contact */
#contact {
    padding: 1.5rem 0;
    color: #814d3b;
}
#contact h2 {
    text-align: center;
    margin-bottom: 2rem;
}
#contact p {
    width: 65%;
    line-height: 1.5;
    margin:0 auto 2rem auto;
}
.cntctForm {
    width: 65%;
    margin: 0 auto 2rem auto;
}
form > * {
    border: 0;
}
form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.25rem;
}
form input {
    height: 2.25rem;
    border-radius: 8px;
}
form input,
form textarea {
    background-color: #e1c5ac;
    color: #fff;
    padding-left: 1rem;
    font-size: 0.9rem;
    transition: all 0.9s;
}
form input:focus,
form textarea:focus,
form input:hover,
form textarea:hover {
    background-color: #814d3b;
    transition: all 0.3s ease-in;
}
form input::placeholder,
form textarea::placeholder {
    color: #814d3b;
    font-size: 0.8rem;
    letter-spacing: 1px;
    transition: all 0.9s;
}
form input:hover::placeholder,
form textarea:hover::placeholder {
    color: #fff;
    transition: all 0.3s ease-in;
}
form textarea {
    height: 10rem;
    border-radius: 10px;
    padding-top: 8px;
}
form button {
    background-color: #F7ACB8;
    color: #fff;
    height: 2.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    width: 60%;
    border-radius: 30px;
    margin: 0 auto;
    transition: all 0.9s;
}
form button:hover {
    cursor: pointer;
    background-color: #814d3b;
    letter-spacing: 8px;
    transition: all 0.3s ease-in;
}
.cntctInfo {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cntctInfo .storehrs,
.cntctInfo .webPhone {
    margin-bottom: 1rem;
}
.cntctInfo li {
    list-style: none;
    padding-bottom: 0.25rem;
}
.webPhone li:first-child {
    padding-bottom: 0.5rem;
}
.cntctInfo li a {
    text-decoration: none;
    color: #814d3b;
}
.socialM h4 {
    margin-bottom: 0.75rem;
}
.socialM .icons {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
.socialM .icons li {
    padding: 0 1.5rem;
    font-size: 2.5rem;
}
.socialM .icons li a {
    color: #814d3b;
    transition: all 0.7s;
}
.socialM .icons li a:hover {
    color: #F7ACB8;
    transition: all 0.3s ease-in;
}
.award{
    display: none;
}
/* Footer */
footer{
    background-color: #e1c5ac;
    color: #814d3b;
}
.ftContent{
    padding-top: 1rem;
}
.ftLogo{
    width: 20%;
    margin: 0 auto 1rem auto;
}
.ftLinks{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.ftLinks li{
    list-style: none;
    padding-bottom: 0.75rem;
}
.ftLinks li:last-child{
    padding-bottom: 0;
}
.ftLinks li a{
    text-decoration: none;
    color: #814d3b;
    font-weight: 600;
    transition: all 0.9s;
}
.ftLinks li a:hover{
    color: #fff;
    transition: 0.3s ease-in;
}
.copyRight{
    text-align: center;
    padding-bottom: 0.35rem;
}
/* About */
#about {
    height: 85vh;
    display: flex;
    justify-content: space-between;
}
#about .baniImg,
#about .aboutTxt{
    width: 48%;
}
#about .baniImg {
    padding: 2rem 0;
}
#about .baniImg img{
    object-position: top;
}
#about .aboutTxt{
    color: #814d3b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#about .aboutTxt h2{
    color: #814d3b;
    margin-bottom: 1.25rem;
}
#about .aboutTxt p{
    line-height: 1.5;
}


/*** These are the styles for the Gallery page ***/
.gallery-head{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(../images/16.jpg);
}
.gllryGrid{
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.5rem;
}
    .imgs{
        height: 200px;
        opacity: 1;
        transition: all 0.8s;
    }
    .imgs:hover{
        opacity: 0.5;
        transition: 0.3s ease-in;
    }
#socialM{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.25rem;
}
#socialM h4{
    color: #814d3b;
    margin-bottom: 0.75rem;
}
#socialM .icons li {
    list-style: none;
    padding: 0 1rem;
    font-size: 3rem;
}
#socialM .icons a {
    text-decoration: none;
    color: #814d3b;
}
#socialM .icons {
    display: flex;
    align-content: center;
}
